<div class="flex flex-col flex-nowrap">
  <!-- SPLASH -->
  <div class="header flex flex-row" style="justify-content: end; align-items:end;"
    [ngClass]="{'scrolled-class': scrolled === true}">
    <p style="margin-right: auto; padding-left: 2rem; padding-bottom: 1.5rem;
    padding-top: 1.5rem;">ETEROS | Games from the Other</p>
    <a href="#games">Games</a>
    <a href="#about-us">About us</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="splash mb-0">
    <img src="assets/eteros_logo.jpg" class="cover-full">
  </div>

  <!-- GAMES -->
  <p id="games" style="margin-bottom: 3.5rem;"></p>
  <div class="games flex flex-col" style="margin-bottom: 12rem;">
    <h1 style="font-weight: 400; margin-bottom: 2rem; color: #6ff8f0">Games</h1>
    <div class="flex flex-row" style="gap: 4rem;">
      <a style="padding: 0rem;" href="https://store.steampowered.com/app/2010450/Endlanders__First_Encounter"
        target="_blank">
        <div class="flex flex-col endlanders">
          <h2 style="font-size: 2rem; margin-top: auto; padding: 0.5rem 2rem;
        background-color: rgba(1,1,1, 0.8); font-weight: 600"> Endlanders </h2>
          <p style="background-color: rgba(1,1,1, 0.65); padding: 2rem; padding-top: 1rem; min-height: 170px;"> Build
            your
            deck, glitch through enemies and terrain, translate unknown languages
            and decipher the mysteries of the universe in this grid-based real time combat indie game.
            <br><br>Find Endlanders on Steam
          </p>
        </div>
      </a>
      <div class="flex flex-col mirage-arena">
        <h2 style="font-size: 2rem; margin-top: auto; padding: 0.5rem 2rem;
        background-color: rgba(1,1,1, 0.8); font-weight: 600"> Mirage Arena </h2>
        <p style="background-color: rgba(1,1,1, 0.65); padding: 2rem; padding-top: 1rem; min-height: 170px;"> More info
          coming soon.
        </p>
      </div>
    </div>
  </div>

  <!-- ABOUT US -->
  <p id="about-us" style="margin-bottom: 4.5rem"></p>
  <div class="about-us flex flex-col" style="margin-bottom: 8rem;">

    <div class="flex flex-row" style="flex-grow: 1; flex-shrink: 1; flex-basis: 0px">
      <div class="flex flex-col left-par" style="flex: 1 1 0;">
        <p>We strive to make games that we will want to play ourselves.</p>
        <div style="width: 30px; height:6px; background-color: #111; margin-top: 4rem;"></div>
      </div>
      <div class="right-par flex flex-col" style="flex: 1 1 0; margin-bottom: 4rem;">
        <h1 style="font-weight: 400; margin-bottom: 1rem; color: #6ff8f0;">About Us</h1>
        <p style="margin-bottom:2rem; margin-top: 5rem;">
          ETEROS Studios was founded in 2020 in Thessaloniki, Greece.
        </p>
        <p style="margin-bottom:0.5rem;">
          The studio has a flat hierarchy and all members are equals.
        </p>
        <p style="margin-bottom: 2rem;">
          We work through co-operation and not coercion. Our labor is created with care
          and respect, and as such all games created are fully representative of us.
        </p>
        <p>
          We think of video games as art, not as products.
        </p>
      </div>
    </div>
  </div>

  <!-- CONTACT -->
  <div id="contact" class="about-us flex flex-col" style="align-items: center;">
    <h1 style="font-weight: 400; margin-bottom: 2rem; color: #6ff8f0;">Contact us</h1>
    <div class="flex flex-col" style="flex-grow: 1; flex-shrink: 1; flex-basis: 0px; align-items: center;">
      <div class="flex flex-col" style="flex: 1 1 0;">
        <p style="padding: 2rem; font-size: 1.5rem;">You can reach us at: contact@eterosstudios.com</p>
      </div>
      <div class="flex flex-col divider" style="flex: 1 1 0;margin-bottom: 1.5rem;">
        <p style="padding: 0.5rem; font-size: 1.5rem;"></p>
      </div>
      <div class="flex flex-col" style="flex: 1 1 0;">
        <p style="padding: 2rem; font-size: 1.5rem;">Follow our socials to keep in touch with our game releases</p>
        <div class="flex links" style="justify-content: center; margin-bottom: 2rem;">
          <a href="https://discord.gg/M4QuPFJ8KX" target="_blank"><img src="assets/icons8-discord-50.png"
              class="icon"></a>
          <a href="https://twitter.com/StudiosEteros" target="_blank"><img src="assets/icons8-twitter-50.png"
              class="icon"></a>
          <a href="https://www.instagram.com/eteros.studios/" target="_blank"><img src="assets/icons8-instagram-50.png"
              class="icon"></a>
        </div>
      </div>
      <!-- <div class="flex flex-col divider" style="flex: 1 1 0;margin-bottom: 1.5rem;">
        <p style="padding: 0.5rem; font-size: 1.5rem;"></p>
      </div> -->
      <!-- <div class="flex flex-col" style="flex: 1 1 0; margin-bottom: 4rem;">
        <p style="padding: 2rem; padding-top: 2rem; font-size: 1.5rem;">
          Offices: Currently not located anywhere.
        </p>
      </div> -->
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer flex flex-row" style="margin-top: 8rem;">
    <p style="color: #000; font-weight: 600; font-family: 'Source Sans Pro';"> ETEROS 2023</p>
    <!-- <p style="margin-left: auto; color: #000; font-weight: 600"> ETEROS 2023</p> -->
  </div>
</div>
